<div class="block-5">

  <div class="block-5-inner">
  <div class="credit-img">
  <img src="http://sprite-rec.in/wp-content/themes/sprite_recordings/images/sprite-imp-04/block-5-title.png" alt="">
  </div>

  <table>
    <tr>
      <td>Artist</td>
      <td>るご (1/√8)</td>
    </tr>
    <tr>
      <td>Design</td>
      <td>SoU (wavforme / Otographic Music)</td>
    </tr>
    <tr>
      <td>Vocals</td>
      <td>Shina Sano</td>
    </tr>
    <tr>
      <td>Composers</td>
      <td>Srav3R (Notebook "Delight" Records)<br>
      XIO (Japanese With Force)<br>
    DJ Noriken (SKETCH UP! Recordings)<br>
  Blue Twinkle (CC*=Style)<br>
Morning Sprite[cittan*](LEVIATH)<br>
UDON*<br>
Takahiro Eguchi (LEVIATH)
</td>
    </tr>
    <tr>
      <td>Mastered by</td>
      <td>Irus (LiLA'c Records)</td>
    </tr>
    <tr>
      <td>Special Thanks</td>
      <td>OFR-02 Omnifarious 2 (UOM Records) </td>
    </tr>
    <tr>
      <td>Produced by</td>
      <td>Sprite Recordings</td>
    </tr>
  </table>
</div>
</div>