<div class="block-3">
  <div class="block-3-inner">
	  <ul>
	    <li>01. BACK TO THE HARDCORE !! / XIO vs DJ Noriken</li>
	    <li>02. Yesterday Bringer / Takahiro Eguchi</li>
	    <li>03. Force Out / Srav3R</li>
	    <li>04. カコのちミライ / UDON*</li>
	    <li>05. Flow Away (XIO Remix) / Shina Sano</li>
	    <li>06. Meguro / Morning Sprite</li>
	    <li>07. Pari Passu / Blue Twinkle</li>
	    <li>08. Wakaressimo / Odikonic</li>
	    <li>09. Gotanda / cittan*</li>
	    <li>10. Akier (from Omnifarious 2) / cittan*</li>
	  </ul>
  </div>
</div>