<div class="block-6">
  <div class="block-6-inner clearfix">
  <div class="left-block">
    <table>
      <tr>
        <td>品番</td>
        <td>SRCD-010</td>
      </tr>
      <tr>
        <td>タイトル</td>
        <td>Sprite Impressions 04<br>
        [Reincarnated]</td>
      </tr>
      <tr>
        <td>発行口</td>
        <td>2016.04.24</td>
      </tr>
      <tr>
        <td>会場</td>
        <td>1,000円</td>
      </tr>
      <tr>
        <td>書店</td>
        <td>1,000円＋手数料</td>
      </tr>
    </table>



  <p class="shop-logo">
    <img src="http://sprite-rec.in/wp-content/themes/sprite_recordings/images/sprite-imp-04/block-6-shop.png" alt="">
  </p>

  <ul>
    <li><a href="https://www.melonbooks.co.jp/detail/detail.php?product_id=159321&utm_source=twitter_160414&utm_medium=213001019548" target="_blank">メロンブックス</a></li>
    <li><a href="http://www.toranoana.jp/mailorder/article/04/0030/40/61/040030406107.html" target="_blank">とらのあな</a></li>
    <li><a href="http://www.dlsite.com/home/work/=/product_id/RJ176474.html" target="_blank">DLsite.com</a></li>
    <li><a href="https://diverse.direct/sprite-recordings/srcd-010/" target="_blank">Diverse Direct</a></li>

  </ul>

</div>


  <div class="right-block">
    <img src="http://sprite-rec.in/wp-content/themes/sprite_recordings/images/sprite-imp-04/cd-jake.jpg" alt="">
  </div>

  </div>

  <div class="copy-right">
    <small>Copyright 2016 Sprite Recordings All Right Reserved.</small>
  </div>
</div>