<div class="block-1">
	  <div class="block-1-inner">
	<p class="logo-word">
	  <img src="images/logo-word.png" alt="">
	</p>

	<h1 class="title"><img src="images/title.png" alt=""></h1>
	<ul class="cd-info gothic">
	  <li>春M3  第二展示場 え-24ab 会場頒布</li>
	  <li>委託書店ほか</li>
	</ul>
	</div>
</div>